<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Ignore any older .NET references (still use the latest framework) -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="Username" value="YOUR_USERNAME" />
		<add key="Password" value="YOUR_PASSWORD" />
		<add key="Host" value="YOUR_HOSTNAME" />
	</appSettings>

</configuration>